build/
bin/
out/
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile
_deps/


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
cmake-build-*/

*~
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp